<html>
    <head>
        <title>Enyel's blog.</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published:08-02-2020, 13:15</p>
            <h2><a href="">CROMOFAGIA</a></h2>
            <p>Hoy me desayuné con rojo</p>
        </p> violeta azul amarillo y verde </p>
     </p>  y en lugar de café con crema</p>
    </p>  me bebí la sangre</p>
</p> y alma de cada lámpara</p>
</p> entonces</p>
</p> yo era un arco iris</p>
</p> y una antorcha</p>
            </p> pero me dolía terriblemente</p>
        </p> porque has de saber</p>
    </p> mi querido Theo</p>
</p> cuesta mucho ser una estrella</p>
        </div>

        <div>
            <p>published: 08-02-2020, 13:15</p>
            <h2><a href="">MALDICIÓN CROMÁTICA</a></h2>
            <p>Rimbaud</p>
        </p>encontró el color de las vocales</p>
    </p> y Van Gogh</p>
</p>el color de las pasiones</p>
</p>pero no sabemos qué ocurrió:</p>
</p>¿por qué el poeta quedó mudo</p>
</p>y fulminado el pintor?</p>
        </div>
    </body>
</html>